*{
    margin: 0px;
    padding: 0px;
    font-family: 'Allerta', sans-serif;
    line-height: 1.5em
}

.up-style{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #1da1f2;
    font-size: 3em;
    color: #ffffff;
}

.container{
    width: 90%;
    height: auto;
    margin: auto;
    padding: 1em 2em;
    box-sizing: border-box;
}

.sub-container{
    width: 49%;
    display: inline-block;
    padding: 1em;
    box-sizing: border-box;
    background: #ffffff
}

.textSize{
    display: inline-block;
    width: 50%;
    z-index: 100
}

#container-tweets{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: inline-block;
}

body{
    background-image: url("../assets/images/wall1.jpg")
  }

textarea{  
    overflow:hidden;
    width: 95%;
    margin: 1em auto;
  }

#string-size{
    box-sizing: border-box;
    display: inline-block;
    width: 5%
}

/* .btn {
    box-sizing: border-box;
    display: inline-block;
    width: 5em;
    height: 2em;
    font-size: 1em; 
    background-color: #1da1f2;
    color: #ffffff
} */

/* .btn:hover {
    color: rgb(49, 46, 46);
    background-color: rgb(194, 192, 192);
} */

.tweet{
    text-align: justify;
    width: 100%;
    background-color: #ffffff;
    display: inline-block;
    margin: 1em 0 0 0;
    box-sizing: border-box;
    padding: 1em 2em;
}

.time{
    text-align: justify;
    width: 100%;
    background-color: #ffffff;
    display: inline-block;
    box-sizing: border-box;
    padding: 0em 2em 1em;
}